<h1><%= @event.name %></h1>
<p>
<% if @voted then %>
  You have already voted.
<% elsif @occurred then %>
  You may now vote:
  <%= form_tag vote_path, method: :post do %>
    <%= number_field_tag 'score', nil, min: 1, max: 10 %>
    <%= submit_tag "Vote" %>
  <% end %>
<% else %>
  You cannot vote yet.
<% end %>
</p>
